<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    {{>links}}
</head>
<body>
  {{>header}}
    <div class="container">
      <h1>About</h1>
      <p id = 'info'>Created By Tarang Khetan</p>
    </div>
</body>
</html>