<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    {{>links}}
    <link rel="stylesheet" href="./css/about.css">
</head>
<body>
  {{>header}}
    <div class="container">
      <h1>About</h1>
      <div id="bef-name">Developed By</div>
      <strong id="name">{{name}}</strong>
    </div>
    <i class="fab fa-github"></i>
</body>
</html>