<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    
    {{>links}}
    <script src="js/user_js2.js"></script>
</head>
<body>
  {{>header}}
  <div class='container'>
    <h1>My About Page</h1>
    <h1>Under Process </h1>
    <table id ="table1" class="table table-bordered table-hover">
      <thead>
        <th>Name</th>
        <th>Age</th>
        <th>Phone No</th>
        <th>Email</th>
        <th>Password</th>
      </thead >
      <tbody id="table1body">
        
      </tbody>
    </table>
  </div>
    
</body>
</html>