<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    
    {{>links}}
    <script src="js/user_js2.js"></script>
     <link rel="stylesheet" href="./css/all_users.css">
</head>
<body>
  {{>header}}
  <div class='container'>
    <h1>ALL Authorized Users</h1>
    {{!-- 
    <h1>Under Process </h1>
    <table id ="table1" class="table table-bordered table-hover">
      <thead>
        <th>Name</th>
        <th>Age</th>
        <th>Phone No</th>
        <th>Email</th>
        <th>Password</th>
      </thead >
      <tbody id="table1body"> --}}
        <div id="list"></div>
        
      </tbody>
    </table>
  </div>
    
</body>
</html>