<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    
    {{>links}}
    <script src="js/image_js1.js"></script>
</head>
<body>
  {{>header}}
  <div class = 'container'><h1>My Image Gallery</h1>
  <div class="form-group row">
                    <div  class="col-xs-6 ">
                        <p><input class="form-control " type="text" placeholder="Search by Tag" id="filter" aria-label="Search"></p>
                    </div>
            </div>
   
     <p><div class="row" id="imagess"></div></p>
    
   
  </div>
     </div>
      
</div>
</body>
</html>