<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    
    {{>links}}
    <link rel="stylesheet" href="./css/signup.css">
    <script src="js/user_js1.js"></script>
</head>
<body>
     {{>header}}
    <div class="container" id="user-new">
     <h1>Create New Account</h1>
        <form id = 'form1'>
            <div class="form-group">
            <label for="name">Name:</label>
                 <input type="text" class="form-control" id="name" placeholder="Enter Username" name="name">
            </div>
            <div class="form-group">
            <label for="pwd">Password:</label>
                 <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
            </div>
            <div class="form-group">
            <label for="email">Email:</label>
                 <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
            <label for="phno">Phone Number:</label>
                 <input type="text" class="form-control" id="phno" placeholder="Enter phone number" name="phone">
            </div>
            <div class="form-group">
            <label for="age">Age</label>
                 <input type="number" class="form-control" id="age" placeholder="Enter age" name="age">
            </div>
            
        <button type="submit" id='but1' class="btn btn-primary">Submit</button>
     </form>
           <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Duplicate Email !!!</strong> Please Use Another Email !!!
</div>
     {{!-- <button type="submit" id='but2' class="btn btn-primary">Delete</button> --}}
    </div>
</body>
</html>