<nav class="navbar navbar-inverse">
    <div class="container">
     <div class="navbar-header">
      <a class="navbar-brand" href="#">Image Gallery</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/all_users">Users</a></li>
      <li><a href="/test">Test</a></li>
      <li><a href="/img">Images</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/profile" id='show-name'></a></li>
      <li><a href="/SignUp">SignUp</a></li>
      <li><a href="/LogIn">LogIn</a></li>
      <li><a href="#" id="user-logout">Logout</a></li>
    </ul>
  </div>
</nav>