   <link rel='icon' href='images/heart_icon.jpg'>
   <link rel="stylesheet" href="./css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{{!-- google font --}}
<link href="https://fonts.googleapis.com/css?family=Baloo+Da+2:700|Bitter:700|Fredoka+One|Indie+Flower&display=swap" rel="stylesheet">

<script src="js/user_logout_js.js"></script>
<script src="js/js1.js"></script>
<link rel="stylesheet" href="./css/styles.css">
<title>My Image Collection</title>