/* .thumbnail:hover{
    box-shadow:5px 5px white ;
} */
#imagess{
    animation-name: image_conatiner;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: relative;
    flex-grow: 1;
}

/* @keyframes image_conatiner {
    0%{left: 5000px;
    bottom: -5000px;}
    100%{left: 0;
    bottom: 0;}
}
 */

.bottom{
    /* position: relative;
    bottom: 0px;; */
    margin-left: 450px;;
} 
